<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div>
		<p>Ovaj tekst ce biti na svakoj stranici sajta!</p>
	</div>
	<%= yield %>

</body>
<footer>
	<p>Ovo ovde je footer, i nalazice se na svim stranama sajta!</p>
</footer>
</html>
